body {
  font-family: Arial, sans-serif;
}
nav {
	background-color: red;
	border-style: solid;
	border-width: 2px;
	padding: 8px;
}

h1 {
	text-align: left;
	text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a{
	text-decoration: none;
	color: black
}
li {
	display: inline;
	padding: 8px;
	margin: 8px;
	background-color: red
}
li a:hover{
	background-color: #cc0000;
	padding: 8px;
}
