body {
  font-family: Arial, sans-serif;
}
.topnav {
	background-color: #ff3333;
	padding: 8px;
}

.topnav a {
	color: black;
	text-decoration: none;
	padding: 8px;
}

.topnav a:hover {
	background-color:red;
}

.topnav a:active {
	background-color: red;
}

h1 {
	text-align: left;
	text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a{
	text-decoration: none;
	color: black
}
li {
	display: inline;
	padding: 8px;
	margin: 8px;
}

li a:hover{
	background-color: #cc0000;
	padding: 8px;
}
