body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;

}

.topnav {
	background-color: #ff3333;
	padding: 8px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.name {
	align-self: flex-start;
	color: white;
	font-style: italic;
}

.spacer {
	flex-grow: 2;
}

.topnav a {
	color: black;
	text-decoration: none;
	padding: 8px;
}

.topnav a:hover {
	background-color:red;
	text-decoration: underline;  
}

.topnav a:active {
	background-color: red;
}

h1 {
	text-decoration: none;
}

ul{
  list-style-type: none;
  margin: 8px;
  padding: 8px;
}

.teacher {
	text-decoration: bold;
}
